.site-footer {
    padding: 6rem 0 2rem;
}

.site-footer_rainbow {
    height: 6rem;
}

.site-footer-left {
    text-align: center;
}

.email-copy-container {
    position: relative;
    display: inline-block;
}

.email-copy-icon {
    position: relative;
    top: 0.3rem;
    cursor: copy;
    margin-left: 1rem;
}

.email-tooltip {
    position: absolute;
    background-color: var(--dark);
    color: var(--light);
    padding: 6px;
    border-radius: 4px;
    white-space: nowrap;
    top: -110%; left: -25%;
}

.site-footer-middle {
    text-align: center;
    line-height: 1.5rem;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-icons .banner-icon {
    width: 40px;
}

.banner-icon {
    transition: transform 0.2s ease-in-out;
}

.banner-icon:hover {
    transform: scale(1.15);
}

.site-footer-left {
    order: 2;
}

.site-footer-middle {
    order: 3;
}

.site-footer-right {
    order: 1;
}

@media screen and (min-width: 834px) {
    .site-footer-left {
        text-align: left;
        order: 1;
    }

    .site-footer-middle {
        order: 2;
    }
    
    .site-footer-right {
        text-align: right;
        order: 3;
    }

    .footer-icons {
        justify-content: flex-end;
    }
}