.site-header {
    padding: 3rem 0;
}

.site-header ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.site-header__logo {
    max-width: 3.5rem;
}

@media screen and (min-width: 834px) {
    .site-header {
        padding: 2rem 0;
    }

    .site-header ul {
        gap: 4rem;
        justify-content: end;
    }

    .site-header__logo {
        max-width: 6rem;
    }
}

@media screen and (min-width: 1440px) {
    .site-header__logo {
        max-width: 7rem;
    }

    .site-header ul {
        gap: 5rem;
    }

}
