.site-header {
    padding: 1rem 0;
}

.site-header ul {
    display: flex;
    gap: 5rem;
    justify-content: end;
}

.site-header__logo {
    max-width: 7rem;
}

@media screen and (max-width: 1439px) {
    .site-header__logo {
        max-width: 6rem;
    }
}

@media screen and (max-width: 833px) {
    .site-header__logo {
        max-width: 3.5rem;
    }
}

.navbar {
    font-family: "noka", sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
}

@media screen and (max-width: 833px) {
    .navbar {
        visibility: hidden;
    }
}