.flip-card {
    width: 40rem;
    height: 20rem;
    perspective: 1000px;
    cursor: pointer;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background-size: cover;
}

.flip-card-back {
    transform: rotateY(180deg);
}

.flip-card h2 {
    text-align: center;
    font-size: 1.5rem;
}

