.nav-container {
    position: absolute;
    top: 0; left: 0;
    /* background-color: gray; */
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.navbar, .hamburger {
    position: relative;
}

.navbar {
    writing-mode: vertical-lr;
    display: flex;
    flex-direction: column;

}

.hamburger {
    position: relative;
    height: 4rem;
    width: 4rem;
    top: 2.6rem;
    left: 65%;
    border-radius: 9999px;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    cursor: pointer;
}

@media screen and (min-width: 834px) {
    .nav-container {
        position: static;
        background-color: transparent;
        width: 100%;
        height: 100%;
    }

    .navbar {
        font-size: 1.25rem;
        text-transform: uppercase;
        writing-mode: horizontal-tb;
        flex-direction: row;
    }

    .hamburger {
        display: none;
    }
}


.hamburger-bar {
    position: absolute;
    height: 0.2rem;
    width: 2rem;
    background-color: black;
    border-radius: 3px;
}

.hamburger-bar:nth-child(1) {
    left: 20%;
    top: 35%;
}
.hamburger-bar:nth-child(2) {
    width: 2.8rem;
    left: 10%;
    top: 50%;
}
.hamburger-bar:nth-child(3) {
    left: 20%;
    top: 65%;
}