.pronounce {
    display: flex;
    flex-direction: column;
    align-items: center;
    scale: 80%;
}

@media screen and (min-width: 834px) {
    .pronounce {
        scale: 100%;
    }
}

.pronounce-name {
    font-size: 6rem;
    vertical-align: 4px;
    display: inline;
}

.pronounce-audio  {
    position: relative;
}

.pronounce-icon {
    cursor: pointer;
}

.pronounce-tip {
    position: absolute;
    background-color: var(--dark);
    color: var(--light);
    padding: 6px;
    border-radius: 4px;
    white-space: nowrap;
    top: -6%; left: -5%;
}

.pronounce-tip:before {
    border: 0.5rem solid transparent;
    border-top-color: var(--dark);
    content: '';
    margin-left: -0.5em;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
}

.phonetics {
    font-size: 2.25rem;
    color: var(--gray);
}

.name-breakdown {
    margin: 30% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}