h2 {
    font-size: 3rem;
}

.vhs-tape {
    display: flex;
    width: 50%;
    text-align: center;
}

#vhs {
    background-color: #555;
}

.vhs-tape div {
    position: absolute;
}

#vhs div {
    width: 20em;
    height: 14em;
    min-height: 200px;
    background-color: #555;
    background-image: 
    linear-gradient(to right,#000 2px,rgb(255, 255, 255, 0) 1px),
    linear-gradient(to left,#000 2px,rgba(255, 255, 255, 0) 1px),
    linear-gradient(to bottom,#000 2px,rgba(255, 255, 255, 0) 1px),
    linear-gradient(to top,#000 2px,rgba(100, 100, 100) 1px),
    conic-gradient(rgba(255, 255, 255, 0) 135deg, #ccc 135deg 225deg, rgba(255, 255, 255, 0) 225deg),
    linear-gradient(#ccc, #ccc),
    conic-gradient(rgba(255, 255, 255, 0) 135deg, #000 135deg 225deg, rgba(255, 255, 255, 0) 225deg),
    linear-gradient(#000, #000),
    linear-gradient(#555, #555),
    linear-gradient(#000, #000),
    repeating-linear-gradient(to bottom, #000, #777 .1em, #777 .4em, transparent .3em),
    linear-gradient(to right,#000 2px,rgb(255, 255, 255, 0) 1px),
    linear-gradient(to left,#000 2px,rgba(255, 255, 255, 0) 1px),
    linear-gradient(to bottom,#000 2px,rgba(255, 255, 255, 0) 1px),
    linear-gradient(to top,#000 2px,rgba(255, 255, 255, 255) 1px),
    linear-gradient(#555,#555),
    linear-gradient(#555, #555),
    repeating-linear-gradient(to bottom, #000, #000 .2em, #aaa .3em, transparent .2em);
    background-repeat: no-repeat;
    background-size: 
    1.2em .5em,
    1.2em .5em,
    1.2em .5em,
    1.2em .5em,
    1.5em .6em,
    .3em .4em,
    2.5em 1em,
    .5em .5em,
    100% .2em, 
    100% .3em, 
    99% 2.4em,
    99% 2.4em,
    99% 2.4em,
    99% 2.4em,
    99% 2.4em,
    100% 3em, 
    100% 1em, 
    100% 100%;
    background-position: 
    50% 0,
    50% 0,
    50% 0,
    50% 0,
    50% 3.4%,
    50% 6.9%,
    50% 1%,
    50% 7%,
    0 0, 
    0 0, 
    60% 13%,
    60% 13%,
    60% 13%,
    60% 13%,
    60% 13%,
    0 .5em, 
    0 3em, 
    0 3.5em;
    border: 3px solid #333;
    border-radius: .3em .3em .8em .8em;
}

#vhs div::before, #vhs div::after {
    display: block;
    position: relative;
    background-repeat: no-repeat;
}

#vhs div::before {
    content: '';
    top: 30%;
    left: 3%;
    width: 94%;
    height: 7em;
    background-image: 
    linear-gradient(to left,#333 3px,rgba(255, 255, 255, 0) 1px),
    linear-gradient(to bottom, #333 3px,rgba(255, 255, 255, 0) 1px),
    linear-gradient(to top, #333 3px,rgba(255, 255, 255, 0) 1px),
    linear-gradient(to right,#333 3px,rgba(255, 255, 255, 0) 1px),
    linear-gradient(to bottom, #333 3px,rgba(255, 255, 255, 0) 1px),
    linear-gradient(to top, #333 3px,rgba(255, 255, 255, 0) 1px),
    radial-gradient(circle at 110% 34%, #999 10%, #000 11%, #999 12%, #999 15%, #000 16%, #999 17%, #999 24%, #000 25%, #999 26%, #999 28%, #000 29%, #000 30%, #999 31%, #999 32%, #000 33%, #999 34%, #999 35%, #000 36%, #999 37%, #999 38%, #000 39%, #999 40%, #999 41%, #000 42%, #999 43%, #999 44%, #000 45%, #999 46%, #999 47%, #000 48%, transparent 49%, transparent 100%),
    radial-gradient(circle at -15% 34%, #999 10%, #000 11%, #999 12%, #999 15%, #000 16%, #999 17%, #999 24%, #000 25%, #999 26%, #999 28%, #000 29%, #000 30%, #999 31%, #999 32%, #000 33%, transparent 34%, transparent 100%),
    radial-gradient(ellipse at 120%  34%, #ccc 66%, #333 67%, #333 68%, transparent 70%),
    radial-gradient(ellipse at -20%  34%, #ccc 66%, #333 67%, #333 68%, transparent 70%);
    background-size: 
    4em 7em,
    3.1em 7em,
    3.1em 7em,
    4em 7em,
    3.1em 7em,
    3.1em 7em,
    4em 10em,
    4em 10em,
    4em 10em,
    4em 10em;
    background-position: 
    0% 0,
    5% 0,
    5% 0,
    100% 0,
    95% 0,
    95% 0,
    0% 0,
    101% 0,
    0% 0,
    101% 0;
}

#vhs div::after {
    content: url(../assets/images/Untitled.png);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: -22%;
    left: 25%;
    width: 10em;
    height: 7.2em;
    background: #fff;
    border: 3px solid #333;
    border-radius: .8em;
}


@media screen and (min-width: 834px) {
    #vhs div {
        width: 25em;
    }

    #vhs div::before {
        background-position: 
            0% 0,
            4.5% 0,
            4.5% 0,
            100% 0,
            96.3% 0,
            96.3% 0,
            0% 0,
            101% 0,
            0% 0,
            101% 0;
}

    #vhs div::after {
        width: 12.5em;
    }
}