/* Banner */
.home-banner_text {
    z-index: 10000;
    transform: translate(-10%, 30%) rotate(-24deg);
    user-select: none;
    text-align: right;
}

.home-banner_beKind {
    color: var(--Dark, #041334);
    font-size: 1.8rem;

    text-transform: uppercase;
    position: relative;
}

.home-banner_sayHi {
    display: inline-block;
    color: transparent;
    font-size: 3.8rem;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--Black, #000);
    text-transform: uppercase;
    line-height: 0.8;
}

@media screen and (min-width: 834px) {
    .home-banner_beKind {
        font-size: 3.5rem;
    }

    .home-banner_sayHi {
        font-size: 7rem;
        -webkit-text-stroke-width: 4px;
    }
}

@media screen and (min-width: 1440px) {
    .home-banner_text {
        transform: translate(-20%, 50%) rotate(-24deg);
    }

    .home-banner_beKind {
        font-size: 5rem;
    }

    .home-banner_sayHi {
        -webkit-text-stroke-width: 7px;
        font-size: 10.5rem;
    }
}

.home-banner_rainbow {
    height: 4.5rem;
    width: 200vw;
    transform: translateX(-30%);
    position: absolute;
}

@media screen and (min-width: 834px) {

    .home-banner_rainbow {
        height: 8rem;
    }
}

@media screen and (min-width: 1440px) {
    .home-banner_rainbow {
        height: 10rem;
        transform: translateX(-20%);
    }
}

.home-banner_icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    transform: translateY(3%) scale(70%);
}

@media screen and (min-width: 834px) {
    .home-banner_icons {
        transform: translateY(43%) scale(90%);
    }
}

@media screen and (min-width: 1440px) {
    .home-banner_icons {
        transform: translateY(50%);
    }
}

.home-banner_cta-container {
    position: relative;
}

.home-banner_cta {
    /* visibility: hidden; */
    width: 15rem;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 1;
}

@media screen and (min-width: 834px) {
    .home-banner_cta {
        position: absolute;
        top: 4rem;
        left: 16rem;
    }
}

@media screen and (min-width: 1440px) {
    .home-banner_cta {
        top: 8rem; left: 42rem;
    }
}

.home-banner_vhs {
    transform: translateY(-50%);
}

@media screen and (min-width: 834px) {
    .home-banner_vhs {
        transform: translateY(25%);
    }
}

/* Featured Project */
.home-featured_text {
    text-align: center;
    text-transform: uppercase;
    margin-top: 15%;
}

.home-featured_text-featured {
    font-size: 1.25rem;
    letter-spacing: 0.8rem;
    color: var(--Secondary, #30524B);
    margin-left: 1.2rem;
}

.home-featured_text-projects {
    display: inline-block;
    margin-right: 0.8rem;
    font-size: 2.5rem;
    color: var(--Dark, #041334);
    letter-spacing: normal;
    line-height: 60%;
}

@media screen and (min-width: 834px) {
    .home-featured_text-featured {
        font-size: 2.5rem;
        letter-spacing: 1.5rem;
        margin-left: 1.7rem;
    }

    .home-featured_text-projects {
        font-size: 5rem;
        margin-right: 1.5rem;
    }
}

@media screen and (min-width: 1440px) {
    .home-featured_text-featured {
        font-size: 4rem;
        letter-spacing: 2.525rem;
    }

    .home-featured_text-projects {
        font-size: 8rem;
        margin-right: 2.2rem;
    }
}

.home-featured_tv {
    display: flex;
    justify-content: center;
}
/* 
.home-featured_item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-bottom: 10rem;
} */

@media screen and (min-width: 834px) {
    .home-featured_item > img {
        width: 100%;
    }
}

.project-cta {
    display: flex;
    justify-content: center;
}

.view-more {
    color: white;
    text-align: center;
    line-height: 5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    width: 14rem;
    height: 7rem;
    background-color: var(--Secondary, #30524B);
    border-radius: 50%;
    border: 14px solid white;
    outline: 2px solid white;
    outline-offset: -25px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 834px) {
    .view-more {
        line-height: 6rem;
        font-size: 2rem;
        width: 16.5rem;
        height: 8rem;
    }
}