.home {
    background-color: red;
}

.home-banner_text {
    z-index: 10000;
    transform: translate(0%, 30%) rotate(-24deg);
    user-select: none;
    text-align: right;
}

.home-banner_beKind {
    color: var(--Dark, #041334);
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    position: relative;
}

.home-banner_sayHi {
    color: transparent;
    -webkit-text-stroke-width: 7px;
    -webkit-text-stroke-color: var(--Black, #000);
    font-size: 12.5rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 0.8;
}

.home-banner_rainbow {
    height: 15rem;
    width: 500%;
    transform: translateX(-20%);
}

.home-banner_icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
    transform: translateY(-120%);
}