.project-page_title {
    text-align: center;
    font-size: 2.5rem;
    color: var(--Dark, #041334);
}

@media screen and (min-width: 834px) {
    .project-page_title {
    font-size: 3rem;
    }
}

.project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0 10rem;
    gap: 4rem;
}

.card-link {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}