@import url("https://use.typekit.net/cdm5ncv.css");


html, body, #root {
    /* Send Footer to Bottom */
    min-height: 100vh;
    background-color: #FEF9F5;
}

#root {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

p {
    text-wrap: pretty;
}

p::selection {
    background-color: var(--dark);
    color: white;
}

/* Colors */
:root {
    --primary: #DD3421;
    --secondary: #30524B;
    --tertiary: #FDDB03;
    --quaternary: #17246D;
    --dark: #041334;
    --light: #FEF9F5;
    --black: #000;
    --white: #FFF;
    --gray: #656565;
}

/* Helpers */
.vertical-center { align-items: center; }

main {
    flex-grow: 1;
}

/* Grid System */
.container {
    margin: 0 auto;
    /* padding: 0 1rem; */
}

.grid {
    display: grid;
}

.col-1 { grid-column: span 1; }
.col-2 { grid-column: span 2; }
.col-3 { grid-column: span 3; }
.col-4 { grid-column: span 4; }
.col-5 { grid-column: span 5; }
.col-6 { grid-column: span 6; }
.col-7 { grid-column: span 7; }
.col-8 { grid-column: span 8; }
.col-9 { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }

@media screen and (min-width: 320px) {
    .container {
        width: 20rem;
    }

    .grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
    
    .col-1-sm { grid-column: span 1; }
    .col-2-sm { grid-column: span 2; }
    .col-3-sm { grid-column: span 3; }
    .col-4-sm { grid-column: span 4; }
}

@media screen and (min-width: 834px) {
    .container {
        min-width: 48.125rem;
    }

    .grid {
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem
    }

    .col-1-md { grid-column: span 1; }
    .col-2-md { grid-column: span 2; }
    .col-3-md { grid-column: span 3; }
    .col-4-md { grid-column: span 4; }
    .col-5-md { grid-column: span 5; }
    .col-6-md { grid-column: span 6; }
    .col-7-md { grid-column: span 7; }
    .col-8-md { grid-column: span 8; }
    .col-9-md { grid-column: span 9; }
    .col-10-md { grid-column: span 10; }
    .col-11-md { grid-column: span 11; }
    .col-12-md { grid-column: span 12; }

}

@media screen and (min-width: 1440px) {
    .container {
        min-width: 80rem;
    }

    .grid {
        gap: 1.25rem;
    }
    
    .col-1-lg { grid-column: span 1; }
    .col-2-lg { grid-column: span 2; }
    .col-3-lg { grid-column: span 3; }
    .col-4-lg { grid-column: span 4; }
    .col-5-lg { grid-column: span 5; }
    .col-6-lg { grid-column: span 6; }
    .col-7-lg { grid-column: span 7; }
    .col-8-lg { grid-column: span 8; }
    .col-9-lg { grid-column: span 9; }
    .col-10-lg { grid-column: span 10; }
    .col-11-lg { grid-column: span 11; }
    .col-12-lg { grid-column: span 12; }

}

/* Spacing */
.mt-0 { margin-top: 0; }
.mb-0 { margin-bottom: 0; }
.mr-0 { margin-right: 0; }
.ml-0 { margin-left: 0; }
.mt-1 { margin-top: 0.25rem; }
.mb-1 { margin-bottom: 0.25rem; }
.mr-1 { margin-right: 0.25rem; }
.ml-1 { margin-left: 0.25rem; }
.mt-2 { margin-top: 0.5rem; }
.mb-2 { margin-bottom: 0.5rem; }
.mr-2 { margin-right: 0.5rem; }
.ml-2 { margin-left: 0.5rem; }
.mt-3 { margin-top: 0.75rem; }
.mb-3 { margin-bottom: 0.75rem; }
.mr-3 { margin-right: 0.75rem; }
.ml-3 { margin-left: 0.75rem; }
.mt-4 { margin-top: 1rem; }
.mb-4 { margin-bottom: 1rem; }
.mr-4 { margin-right: 1rem; }
.ml-4 { margin-left: 1rem; }
.mt-5 { margin-top: 1.5rem; }
.mb-5 { margin-bottom: 1.5rem; }
.mr-5 { margin-right: 1.5rem; }
.ml-5 { margin-left: 1.5rem; }
.mt-6 { margin-top: 2rem; }
.mb-6 { margin-bottom: 2rem; }
.mr-6 { margin-right: 2rem; }
.ml-6 { margin-left: 2rem; }
.mt-7 { margin-top: 3rem; }
.mb-7 { margin-bottom: 3rem; }
.mr-7 { margin-right: 3rem; }
.ml-7 { margin-left: 3rem; }
.mt-8 { margin-top: 4rem; }
.mb-8 { margin-bottom: 4rem; }
.mr-8 { margin-right: 4rem; }
.ml-8 { margin-left: 4rem; }

.pt-0 { padding-top: 0; }
.pb-0 { padding-bottom: 0; }
.pr-0 { padding-right: 0; }
.pl-0 { padding-left: 0; }
.pt-1 { padding-top: 0.25rem; }
.pb-1 { padding-bottom: 0.25rem; }
.pr-1 { padding-right: 0.25rem; }
.pl-1 { padding-left: 0.25rem; }
.pt-2 { padding-top: 0.5rem; }
.pb-2 { padding-bottom: 0.5rem; }
.pr-2 { padding-right: 0.5rem; }
.pl-2 { padding-left: 0.5rem; }
.pt-3 { padding-top: 0.75rem; }
.pb-3 { padding-bottom: 0.75rem; }
.pr-3 { padding-right: 0.75rem; }
.pl-3 { padding-left: 0.75rem; }
.pt-4 { padding-top: 1rem; }
.pb-4 { padding-bottom: 1rem; }
.pr-4 { padding-right: 1rem; }
.pl-4 { padding-left: 1rem; }
.pt-5 { padding-top: 1.5rem; }
.pb-5 { padding-bottom: 1.5rem; }
.pr-5 { padding-right: 1.5rem; }
.pl-5 { padding-left: 1.5rem; }
.pt-6 { padding-top: 2rem; }
.pb-6 { padding-bottom: 2rem; }
.pt-6 { padding-top: 2rem; }
.pb-6 { padding-bottom: 2rem; }
.pt-7 { padding-top: 3rem; }
.pb-7 { padding-bottom: 3rem; }
.pr-7 { padding-right: 3rem; }
.pl-7 { padding-left: 3rem; }
.pt-8 { padding-top: 4rem; }
.pb-8 { padding-bottom: 4rem; }
.pr-8 { padding-right: 4rem; }
.pl-8 { padding-left: 4rem; }

/* Typography */
.loos-normal { font-family: "loos-normal", sans-serif; }
.loos-compressed { font-family: "loos-compressed", sans-serif; }
.loos-condensed { font-family: "loos-condensed", sans-serif; }
.loos-wide { font-family: "loos-wide", sans-serif; }
.loos-extrawide { font-family: "loos-extrawide", sans-serif; }
.loos-extended { font-family: "loos-extended", sans-serif; }
.noka { font-family: "noka", sans-serif; }
.cc-sign-language { font-family: "ccsignlanguage", sans-serif; }
.jjGgwak { font-family: "jjggwakchangothica", sans-serif; }
.pretendard { font-family: "pretendard", sans-serif; }
.kyrial { font-family: "kyrial-sans-pro", sans-serif; }
.kyrial-cond { font-family: "kyrial-sans-condensed-pro", sans-serif; }

/* Font-Weight */
.fw-4 { font-weight: 400; }
.fw-5 { font-weight: 500; }
.fw-6 { font-weight: 600; }
.fw-7 { font-weight: 700; }
.fw-8 { font-weight: 800; }
.fw-9 { font-weight: 900; }
